rdoc
python/*.pyc
python/test_ApeTag.html
ruby/*.gem
*.rbc
perl/ApeTag-*
perl/Makefile
perl/Makefile.old
perl/blib/
perl/pm_to_blib
haskell/doc
c/apeinfo
c/apetag.o
c/libapetag.*
c/test/test_apetag
lua/io_truncate.o
lua/io_truncate.so
