*.a
*.la
*.lo
*.o
*.so
*.so.*
*.tar.gz
.deps
.libs
Makefile
Makefile.in
aclocal.m4
apeinfo
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
libapetag.pc
libtool
test/.dirstamp
test/test_apetag
test/test_apetag_files
